#popup {
	width: 300px;
}


#panel{
	margin-top: 15px;
}

#launch{
	margin-bottom: 15px;
}

#go-to-options{
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}